@{
    Layout = "_LayoutPrincipal";
    ViewData["Title"] = "Além Da Porta Sussurrante";
}
<br>

<div class="central">

    <div class="boxBooks">

        <div class="cima">

            <img b-u5i94nszd0="" src="~/imagens/AlemDaPortaSussurrante.PNG" alt="Além da Porta Sussurrante">
            <h2>Além da Porta Sussurrante</h2>
            <h3 class="h3Books">T. J. Klune</h3>

        </div>

        <div class="baixo">

            <br><br>
            <h4 class="h4Books">Sinopse:</h4>
            <br>
            <h5>
                Bem-vindos à Travessia de Caronte.
                <br>
                O chá está quente, os cookies estão frescos,
                <br>
                e os mortos estão apenas de passagem.
            </h5>
            <p class="pBooks">
                Wallace Price só conhece três coisas na vida: trabalho, um pouco mais de trabalho e algumas pitadas
                de trabalho. Assim, é extremamente inconveniente quando ele tem de parar tudo e atender ao
                seu próprio funeral. Mas quando ele recebe a visita de Mei, uma Ceifadora, ele começa a
                ter uma leve desconfiança de que possa estar morto.
                <br>
                Em vez de levá-lo diretamente ao além, ela o guia a uma pequena vila em cujos arredores,
                escondida entre as montanhas, fica uma peculiar casa de chá. E quando Hugo,
                seu carismático proprietário e barqueiro do além-vida, se oferece para ajudá-lo a fazer a travessia,
                ele decide que efetivamente deve estar morto.
                <br>
                Mas Wallace não está pronto para abandonar a vida que mal viveu e recebe uma última chance.
                Sete dias. Uma semana para viver uma vida inteira e talvez, enfim, apaixonar-se pelo que
                ela pode proporcionar. Às vezes, a morte é só o começo…

            </p>

        </div>

        <form method="post" asp-controller="Livros" asp-action="AdicionarLista">
            <div class="btnBooks">
                <h5>Adicionar a Lista de:</h5>
                <div class="ldash-container">
                    <input type="hidden" name="NomeAcao" value="@ViewBag.NomeAcao" />
                    <button class="ldash" name="btn" value="jaLi">Já li...</button>
                    <button class="ldash2" name="btn" value="estouLendo">Estou Lendo...</button>
                    <button class="ldash3" name="btn" value="queroLer">Quero Ler...</button>
                </div>
            </div>
        </form>

    </div>


</div>
