@{
    Layout = "_LayoutPrincipal";
    ViewData["Title"] = "Os Dois Morrem no Final";
}
<br />

<div class="central">

    <div class="boxBooks">

        <div class="cima">

            <img src="~/imagens/OsDoisMorremNoFinal.png" alt="Os Dois Morrem no Final">
            <h2>Os Dois Morrem no Final</h2>
            <h3 class="h3Books">Adam Silveira</h3>

        </div>

        <div class="baixo">

            <br><br>
            <h4 class="h4Books">Sinopse:</h4>
            <br>
            <h5>
                Emocionante e inesquecível
            </h5>
            <p class="pBooks">
                No dia 5 de setembro, pouco depois da meia-noite, Mateo Torrez e Rufus Emeterio recebem uma ligação da Central da Morte.
                A notícia é devastadora: eles vão morrer naquele mesmo dia.
                <br>
                Os dois não se conhecem, mas, por motivos diferentes, estão à procura de um amigo com quem compartilhar os últimos momentos,
                uma conexão verdadeira que ajude a diminuir um pouco a angústia e a solidão que sentem. Por sorte, existe um aplicativo
                para isso, e é graças a ele que Rufus e Mateo vão se encontrar para uma última grande aventura: viver uma vida inteira em um
                único dia.
                <br>
                Uma história sensível e emocionante, Os dois morrem no final nos lembra o que significa estar vivo. Com seu olhar único,
                Adam Silvera mostra que cada segundo importa, e mesmo que não haja vida sem morte, nem amor sem perda, tudo pode mudar
                em 24 horas.

            </p>

        </div>

        <form method="post" asp-controller="Livros" asp-action="AdicionarLista">
            <div class="btnBooks">
                <h5>Adicionar a Lista de:</h5>
                <div class="ldash-container">
                    <input type="hidden" name="NomeAcao" value="@ViewBag.NomeAcao" />
                    <button class="ldash" name="btn" value="jaLi">Já li...</button>
                    <button class="ldash2" name="btn" value="estouLendo">Estou Lendo...</button>
                    <button class="ldash3" name="btn" value="queroLer">Quero Ler...</button>
                </div>
            </div>
        </form>

    </div>


</div>