
@{
    Layout = "_LayoutIndex";
    ViewData["Title"] = "Bem Vindo!";
}


<br>
<br>
<!--Pagina ao abrir o site-->
<div class="central">
    <h3>Suas Leituras em um Único Espaço!</h3>
    <p>
        &nbsp;&nbsp;
        Organize suas leituras e interesses literários em um único local!
    </p>
    <p>
        Com nossa plataforma, você pode guardar, organizar e explorar uma variedade de obras!
    </p>
    <p>
        Compartilhe recomendações, acompanhe suas leituras em andamento e descubra novos títulos de acordo com seus gostos pessoais.
        Simplificamos sua jornada literária, oferecendo uma experiência completa e envolvente para os amantes da leitura.
    </p> <br>
    <p class="destaque">
        Experimente hoje mesmo e transforme sua experiência de leitura em algo extraordinário!
    </p>
</div>
<div class="entrar">
    <div class="log">
        <p>
            Acesse sua conta
        </p>
        &nbsp;&nbsp;
        <a class="alog" asp-controller="Usuario" asp-action="Login" >Login</a>
    </div>
    <div class="cad">
        <p>
            Ainda não tem conta?
        </p>
        &nbsp;&nbsp;
        <a class="acad" asp-controller="Usuario" asp-action="Cadastro">Cadastra-se</a>
    </div>

</div>
<br>

@*     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a asp-controller="Main" asp-action="Main">Proxima página!</a> *@


