
@{
    Layout = "_LayoutPrincipal";
    ViewData["Title"] = "Inicio";
}
 
@*Essa página deve ter uma parte de upgrade de planos, com parte de pagamentos...*@

<br>
<br>
<div class="central">
    <h3 class="h3SN">Sobre Nós</h3>
    <div class="boxSN">


        <p class="pSN">
            Nosso site é uma agenda literária onde você pode armazenar seus
            intereses literários, descobrir novos livros e autores.
        </p>
        <p class="pSN">
            Nosso objetivo é criar um ambiente vibrante para leitores, onde você
            possa compartilhar suas paixões literárias e encontrar sua próxima leitura.
        </p>

        <p>Gostaria de mais recursos?</p>
        <p>Assine a versão premium da agenda e desbloqueie novas possibilidades literarias</p>

    </div>

</div>
